<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>404</h2>
    <p>Page Doesn't Exist.</p>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>