<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad alias aperiam assumenda deleniti dolor
        ducimus enim est facere fuga fugiat illo iste iusto labore laudantium magnam maxime nihil officia porro
        provident reprehenderit sit suscipit, tempore tenetur unde veritatis voluptate. Accusantium debitis error fugit
        iusto maxime! Ab fugit hic, labore odio pariatur quae reprehenderit veniam? Distinctio maiores provident
        suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deserunt dolor ducimus, ipsa nisi quaerat quam
        quibusdam saepe similique voluptatum.</p>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>